extends ./base.jade

block title
    title PIXI

block body
    .b-wrapper
        .b-scene#scene
        .b-tiles
            +tile('Title 01', 'Description 01', 'cat.png', '/')
            +tile('Title 02', 'Description 02', 'cat.png', '/')
            +tile('Title 03', 'Description 03', 'cat.png', '/')
            +tile('Title 04', 'Description 04', 'cat.png', '/')

            +tile('Title 05', 'Description 05', 'cat.png', '/')
            +tile('Title 06', 'Description 06', 'cat.png', '/')
            +tile('Title 07', 'Description 07', 'cat.png', '/')
            +tile('Title 08', 'Description 08', 'cat.png', '/')

            +tile('Title 09', 'Description 09', 'cat.png', '/')
            +tile('Title 10', 'Description 10', 'cat.png', '/')
            +tile('Title 11', 'Description 11', 'cat.png', '/')
            +tile('Title 12', 'Description 12', 'cat.png', '/')