@import 'blocks/*'

body, html
    min-height 100%
 
html
    font 10px/1 Arial

body
    font-size 1.2rem
    
.b-scene
    display block
    width 640px
    height 480px
    margin 0 auto
    

.b-tile
    @extends $b-tile
    font-size 12px
    width 24%
    margin 0 (4/3)% (4/3)% 0
    
.b-tiles
    @extend $clear-block
    padding 30px
    
    .b-tile
        float left
        
        &:nth-of-type(4n)
            margin-right 0
       